<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<body>
    <a href="/todo">Index</a>
    <h1 id="todolist-name"></h1>
    <ul id="task-container">
    </ul>
    <form method="post">
        name: <input name="name">
        <button type="submit">submit</button>
    </form>
</body>
<script>
    let id = new URL(location.href).pathname.split('/')[2];
    let loadTasks = () => {
        if (!id.match(/\d/)) return;
        $.ajax({
            url: `/loadTasks/${id}`,
            method: "GET",
            dataType: "json",
        }).done(rs => {
            $("#todolist-name").text(rs.name);
            rs['taskrelations'].forEach(task=>{
                let e = $("<h3>", { "d-id": task.taskdetails.id, text: task.taskdetails.name });
                e = $("<li>").append(e);
                $("#task-container").append(e);
            });
        }).fail(rs => console.error(rs));
    }

    $("body").ready(() => {
        loadTasks();
    })
</script>